.sdtet-schedule-container{
	text-align: center;
}
.sdtet-schedule-grid{
	display: grid;
	grid-template-columns: 400px 200px 400px;
	grid-gap: 10px;
	align-items: center;

}
.sdtet-schedule-spacer{
	grid-column-start: 1;
	grid-column-end: 4;
	height: 50px;
}
.sdtet-schedule-title{
	font-size: 2rem;
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
}

.sdtet-schedule-date{
	font-weight: 600;
}
.sdtet-schedule-divider{
	grid-column-start: 1;
	grid-column-end: 4;
	border-bottom: 2px solid red;
}

.sdtet-schedule-main-stage{
	text-align: right;
}

.sdtet-schedule-cultural-village{
	text-align: left;
}