.sdtet-entertainment-container{
	text-align: center;
}
.sdtet-schedule-grid{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 10px;
	align-items: center;

}
.sdtet-schedule-title{
	font-size: 1.5rem
}
.sdtet-schedule-date{
	font-weight: 600;
}
.sdtet-schedule-divider{
	grid-column-start: 1;
	grid-column-end: 4;
	border-bottom: 1px solid red;
}

.sdtet-schedule-main-stage{
	text-align: right;
}

.sdtet-schedule-cultural-village{
	text-align: left;
}