// raw colors
$sdtet-blue-01: #1A535C;
$sdtet-blue-02: #22BCB2;
$sdtet-blue-03: #30ACA4;
$sdtet-yellow-01: #F5EE9E;
$sdtet-yellow-02: #F7FFF7;
$sdtet-red-01: #E3655B;

// context colors
$text-color: $sdtet-blue-01;
$link-color: $sdtet-blue-02;
$link-hover-color: $sdtet-blue-03;

// backgrounds 
$background-color-red: $sdtet-red-01;
$background-color-yellow: $sdtet-yellow-01;
$background-color-light: $sdtet-yellow-02;