@import '_colors.scss';
.sdtet-entertainment-container {
  padding-top: 1px;
  color: $sdtet-yellow-02;
  padding-bottom: 50px;
}

.sdtet-entertainment-card {
  margin: 10px;
  height: 475px !important;

  .card__media__background{
	background-position: 0 20% !important;
  }
}

@media screen and (max-width: 960px) {
  .sdtet-entertainment-card {
    min-width: 335px;
    height: auto !important;
  }
}
