.sdtet-text-red-bold {
  font-weight: 600;
  color: #E3655B;
}

.sdtet-volunteers-info {
  margin: 15px;
}

.sdtet-volunteers-forms-container {
  margin: 15px;
}

.sdtet-volunteers-form-1 {
  display: block;
  width: 150px;
  margin: auto 5px auto auto;
}

.sdtet-volunteers-form-2 {
  display: block;
  width: 150px;
  margin: auto auto auto 5px;
}

@media screen and (max-width: 960px) {
  .sdtet-h1-spacer {
    display: none;
  }
}
