@import '../../node_modules/normalize.scss/normalize.scss';
@import '_layout.scss';
@import '_colors.scss';

// sdtet components

@import "_navigation.scss";
@import "_directions.scss";
@import "_miss-vietnam.scss";
@import "_entertainment.scss";
@import "_pageant.scss";
@import "_schedule.scss";
@import "_sponsors.scss";
@import "_vendors.scss";
@import "_volunteers.scss";

html,body{
	background-color: $background-color-light !important;
    font-family: 'Roboto Condensed', sans-serif;    
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Nunito', sans-serif;
}

h1{
	font-size: 3em;
}

a{
	color: $link-color;
	text-decoration: none;

	&:hover{
		color: $link-hover-color;
	}
}

.sdtet-container {
  max-width: 1280px;
  margin: 0 auto;
}

.sdtet-text-align-right{
	text-align: right;
}

.sdtet-text-align-left{
	text-align: left;
}

.sdtet-text-align-center{
	text-align: center;
}

.sdtet-background-red{
	background: $background-color-red;
}

.sdtet-wrap-text{
	white-space: normal !important;
}

.sdtet-divider{
	border-bottom: 2px solid red;
	margin: 50px auto;
	width: 700px;
}
.sdtet-button-flat-button{
    height: auto !important;
    color: $link-color !important;
}

.sdtet-form-control{
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	
}
select.sdtet-form-control{
	-moz-appearance: menulist;
	-webkit-appearance: menulist;
}

.sdtet-jumbotron{
    height: 450px; 
    width: 100%;
    background-size: cover;
    color: white;
    h1{
    	text-shadow: 2px 2px #330000;
    }
    
    padding-top: 1px;
}

.btn.btn--outline{
	border-width: 2px;
}